.c-flipbook {
  -webkit-perspective: 2200px;
  perspective: 2200px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 1;
  height: 200px;
  position: absolute;
  left: 0;
  -webkit-transition: left 0.7s;
  -o-transition: left 0.7s;
  transition: left 0.7s;
  top: 0;
  /* width: 800px;
  height: 200px; */
}
.c-flipbook:not(.is-ready) * {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.c-flipbook:after {
  content: '';
  display: table;
  clear: both;
}
.is-calling {
  -webkit-transform: rotateY(-20deg) !important;
  transform: rotateY(-20deg) !important;
}
.c-flipbook__page {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  width: 50%;
  min-height: 100%;
  max-height: 100%;
  background: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  background: #efeef4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  /* height: 100%; */
  -webkit-transition: -webkit-transform 0.9s ease;
  transition: -webkit-transform 0.9s ease;
  -o-transition: transform 0.9s ease;
  transition: transform 0.9s ease;
  transition: transform 0.9s ease, -webkit-transform 0.9s ease;
}
.c-flipbook__page:nth-child(2n) {
  -webkit-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
  left: 0;
  border-radius: 6px 0px 0px 6px;
}
.c-flipbook__page:nth-child(2n):not(.last-page) {
  border-right: none;
}
.c-flipbook__page:nth-child(odd) {
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  right: 0;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  border-radius: 0px 6px 6px 0px;
}
.c-flipbook__page:nth-child(odd):not(.first-page) {
  border-left: none;
}
.c-flipbook__page.is-active {
  z-index: 2;
}
.c-flipbook__page.is-active:nth-child(2n) {
  -webkit-transform: rotateY(10deg);
  transform: rotateY(10deg);
}
.c-flipbook__page.is-active:nth-child(2n):hover {
  -webkit-transform: rotateY(15deg);
  transform: rotateY(15deg);
}
.c-flipbook__page.is-active:nth-child(odd) {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}
.c-flipbook__page.is-active:nth-child(odd):hover {
  -webkit-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
}
.c-flipbook__page.is-active:nth-child(odd) ~ .c-flipbook__page:nth-child(2n) {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.c-flipbook__page.is-active:nth-child(odd) ~ .c-flipbook__page:nth-child(odd) {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.c-flipbook__page.was-active {
  z-index: 1;
}
.c-flipbook__page.is-animating:nth-child(odd) {
  z-index: 4;
}
.c-flipbook__page.is-animating:nth-child(odd) ~ .c-flipbook__page.is-animating {
  z-index: 3;
}
.c-flipbook__page.is-animating + .c-flipbook__page:not(.is-animating):nth-child(odd) {
  z-index: 1;
}
.no-csstransforms3d .c-flipbook__page {
  display: none;
}
.no-csstransforms3d .c-flipbook__page.is-active {
  display: block;
  position: relative;
  float: left;
}
.c-flipbook[data-useragent*='MSIE 10.0'] .c-flipbook__page {
  opacity: 0;
}
.c-flipbook[data-useragent*='MSIE 10.0'] .c-flipbook__page.is-active {
  -webkit-transition: opacity 0.9s ease, -webkit-transform 0.9s ease;
  transition: opacity 0.9s ease, -webkit-transform 0.9s ease;
  -o-transition: transform 0.9s ease, opacity 0.9s ease;
  transition: transform 0.9s ease, opacity 0.9s ease;
  transition: transform 0.9s ease, opacity 0.9s ease, -webkit-transform 0.9s ease;
  opacity: 1;
}
.c-flipbook[data-useragent*='MSIE 10.0'] .c-flipbook__page.was-active {
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
  -webkit-transition: opacity 0.9s ease, -webkit-transform 0.9s ease;
  transition: opacity 0.9s ease, -webkit-transform 0.9s ease;
  -o-transition: transform 0.9s ease, opacity 0.9s ease;
  transition: transform 0.9s ease, opacity 0.9s ease;
  transition: transform 0.9s ease, opacity 0.9s ease, -webkit-transform 0.9s ease;
  opacity: 0;
}
.c-flipbook.at-front-cover {
  left: -25%;
}
.c-flipbook.at-rear-cover {
  left: 25%;
}
@supports (transition: transform 0.9s ease) and (not (-ms-ime-align: auto)) {
  .c-flipbook__page {
    -webkit-transition: -webkit-transform 0.9s ease;
    transition: -webkit-transform 0.9s ease;
    -o-transition: transform 0.9s ease;
    transition: transform 0.9s ease;
    transition: transform 0.9s ease, -webkit-transform 0.9s ease;
 }
}
.c-flipbook__page:before {
  content: '';
  position: absolute;
  z-index: 3;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.c-flipbook__page:nth-child(2n).is-active:hover {
  -webkit-transform: rotateY(5deg);
  transform: rotateY(5deg);
}
.c-flipbook__page:nth-child(odd).is-active:hover {
  -webkit-transform: rotateY(-5deg);
  transform: rotateY(-5deg);
}
.c-flipbook__page.is-active:not(:hover) {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.c-flipbook-image {
  position: relative;
  z-index: 2;
  height: auto;
  width: 100%;
  display: block;
  pointer-events: none;
}
.c-flipbook__page .ss-loading {
  font-size: 2rem;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-flipbook__page .ss-loading:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
